.detailComponent{
    display: flex;
    width: 100vw;
    height: 90vh;
   
}

.detail{
   
  padding: 10px;
    font-size: 1.2rem;
    color:var(--text);
    font-family: monospace;

}
.info{
    
    width: 25%;
    height: 65%;
    background-color: var(--trateryColor);
    margin: auto;
    border-radius: 2%;
}
