.detail-container {
  height: 100vh;
  width: 100%;
  min-height: 126vh;
}

.detailComponent {
  display: flex;
  height: 100%;
}
.main {
  position: absolute;
  top: 0;
  right: 30%;
  width: 30rem;
  height: 10rem;
}

.detail {
  padding: 10px;
  font-size: 1rem;
  font-family: monospace;
  background-color: rgb(36, 57, 63);
  
}
.title {
  color: white;
}
.info {
  position: relative;
  height: 65%;
  margin: auto;
}

.subtitle {
  font-size: 1.2rem;
}
.player {
  position: absolute;
  width: 12rem;
  height: 15rem;
  background-color: blueviolet;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 600px) {
  .info {
    position: relative;

    width: 59%;
    height: 75%;
    background-color: rgba(29, 21, 36, 0.247);
    margin: auto;
    border-radius: 2%;
    margin-top: 2.5rem;
  }
}
