.navContainer {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 1rem;
  text-align: center;
  height: 2.5rem;
  color: var(--textColor);
  /* border: red 2px solid; */
  list-style-type: none;
  background-color: slategray;
}
.nav-links {
  display: flex;
  list-style-type: none;
  margin-right: 5rem;
  text-decoration: none;
  list-style-type: none;
}
.links {
  color: #FFFFFF;
  text-decoration: none;
}
