.navContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 1rem;
  text-align: center;
  height: 2.5rem;
 
  width: 100vw;
  color: var(--textColor);
  /* border: red 2px solid; */
  list-style-type: none;
  background-color: rgb(54, 82, 110);
}
.nav-links {
  display: flex;
  list-style-type: none;
  margin-right: 5rem;
  text-decoration: none;
  list-style-type: none;
  /* width: 100vw; */
}
.links {
  color: #FFFFFF;
  text-decoration: none;
}

.logo{
  top: 0;
  left: 0;
  position: absolute;
}
img{
  width: 50px;
  height: 56px;
}

@media only screen and (max-width: 600px) {

  .navContainer {
    position: relative;
    display: flex;
    
    justify-items: center;
    padding-top: 1rem;
    text-align: center;
    height: 2.5rem;
    color: var(--textColor);
    width: 100vw;
     list-style-type: none;
    /* background-color: rgb(54, 82, 110);  */
  }
  .nav-links {
    display: flex;
    list-style-type: none;
    margin-right: -3rem;
    text-decoration: none;
    list-style-type: none;
  } 

}