.playerContainer {
  position: relative;
}
.vedioPlayer {
  position: absolute;
  top: 9rem;
  right: 58rem;
  width: 19rem;
  height: 15rem;
}
@media only screen and (max-width: 600px) {
  .playerContainer {
    position: absolute;
    top: 41.4rem;
    left: 2.4rem;
  }
  .vedioPlayer {
    position: absolute;
    top: 9rem;
    right: 58rem;
    width: 15rem;
    height: 15rem;
  }
}
