.actor-container{
    position: absolute;
    top: 36.5rem;
    left: -1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 63.3rem;
    
}
.act{
    margin: 1.3px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: rgb(127, 212, 238) 10px solid;
    border-radius: 1%;
}

img {
    width: 6.5rem;
    height: 122px;
}
.act:hover{

    transform: skewY(20deg);
}