.main-card {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardPoster {
    display: flex;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 10rem;
  height: 45vh;
  margin: 5px;
  border: 1px solid violet;
  border-radius: 3px;
}
.backgroundMovieCard {
  width: 10rem;
  height: 38vh;
}
.movieCardLink {
  text-decoration: none;
  background: rgb(12, 45, 51);

}
.movieinfo {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  color: yellow;
  font-size: 10px;
}
@media screen and (max-width: 600px) {
  .cardPoster {
    display: flex;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 10rem;
  height: 20vh;
  margin: 5px;
  background: rgb(12, 45, 51);
    border-radius: 3px;
}
.backgroundMovieCard {
  width: 10rem;
  height: 14vh;
}
.movieCardLink {
  text-decoration: none;
  background: rgb(12, 45, 51);
  height: 5rem;

}
  
 

  
}
