.heroContainer{
    
    text-align: center;
    color: red;
    height: 90vh;
    background-image: url('https://images.pexels.com/photos/1005417/pexels-photo-1005417.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-repeat: no-repeat;
    background-size: cover;
 
}
.hero-line{
    display: flex;
    justify-content: center;
    justify-items: center;
}