:root{
    --primaryColor:#2ed3e2;
    --seconderyColor:#6aa8ad;
    --trateryColor:#b0c2c4;
    --textColor:#000808;



}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--primaryColor);
}

