
.main{

}
.movieContainer {
  display: flex;
  justify-content: center;
  min-height: 80vh;
 
  margin: 0 auto;
  margin-top: 2rem;
}
.movie-link{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: -7rem;

}
.link{
  
  width: 20rem;
  margin: 2%;
  border-radius: 50%;
  /* border: 1px solid blue; */
  text-align: center;
  padding: 6px;
  background-color: rgb(20, 21, 26);
}
  
.link:hover{
  background-color: cadetblue;
}
.card-card{
  position: relative;
  width: 12rem;
  height: 20rem;
 
  margin: 0.7rem;
  margin-top: 2rem;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-card:hover {
  transform: scale(.9);
  /* transform: rotate(180deg); */

}
.title {
  font-size: 1.5rem;
  font-family: monospace;
  text-align: center;
  background-color: var(--seconderyColor);
  /* border-radius: 1px; */
}
.year {
  font-size: 1.5rem;
  font-family: monospace;
  position: absolute;
  color: white;
  top: 296px;
  background-color: var(--seconderyColor);
  border-radius: 2px;
}
.rating {
  font-size: 1.5rem;
  font-family: monospace;
  position: absolute;
  color: rgb(235, 221, 221);
  top: 271px;
  background-color: var(--seconderyColor);
  left: 159px;
  border-radius: 2px;
}

.movie-title{
 
  
  background-color: rgba(60, 23, 61, 0.137);
}

@media only screen and (max-width: 600px) {
  .movie-link{
    margin-top: -10rem;
    margin-left: 0rem;
  }

  .card-card {
    position: relative;
    width: 12rem;
    height: 20rem;
    /* margin: -17%; */
    margin-top: 1rem;
    margin-right: 7rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   
  }
  .movieContainer {
    display: flex;
    justify-content: center;
    min-height: 80vh;
 
    margin: 0 auto;
    margin-top: 8rem;
  }
  


}
