/* 
 .searchcontainer{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}  */
.input{
    float: right;
    height: rem;
    width: 20rem;
    border-radius: 2%;
    margin-bottom: 50%;
}
@media only screen and (max-width: 600px) {
    .input{
        float: right;
        height: rem;
        width: 14rem;
        border-radius: 2%;
        margin-bottom: 50%;
    }
    
}